- new_doc = capture do
	- if !f.object.present?
		- f.object = Product.new

	- if f.object.documents.all? { |doc| doc.persisted? }
		- f.object.documents.build

.document-list.form-group
	= f.fields_for :documents do |ff|	
		.control-group.media.pull-left{ style: 'margin-top:0;'}
			.controls
				- if ff.object.file.present?
					= link_to "Show document", ff.object.file.url, target: "_blank"
					or
					%a{ href: "#", data: {behavior: "remove_video", remove_html: ff.hidden_field(:_destroy, value: "1")} }
						delete

				%br
				= ff.text_field :name, placeholder: 'Document name'
				%br
				= ff.file_field :file
				%hr




