- provide(:title, t(:_EDIT)) 

= render 'form'

- content_for :javascript do
	= stylesheet_link_tag "fancybox/jquery.fancybox", media: "all"
	= javascript_include_tag "fancybox/jquery.fancybox"
	= append_javascript('jquery.remotipart')
	:javascript
		$(function(){
			$('.image').fancybox();
		})